2.accelerators/leadgen/core.leadgen.pipeline.json
{
  "name": "core.leadgen.pipeline",
  "nodes": [
    {
      "id": "2c5036a7-0000-0000-0000-000000000000",
      "name": "Friday 8AM \u2014 Pipeline Review",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "86964ae7-0000-0000-0000-000000000000",
      "name": "Client Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "recipient_email",
              "type": "string",
              "value": "CLIENT_EMAIL_HERE"
            },
            {
              "name": "recipient_name",
              "type": "string",
              "value": "CLIENT_NAME_HERE"
            },
            {
              "name": "stale_threshold_days",
              "type": "number",
              "value": 14
            },
            {
              "name": "pipeline_limit",
              "type": "number",
              "value": 50
            }
          ]
        }
      }
    },
    {
      "id": "005110ef-0000-0000-0000-000000000000",
      "name": "Get Full Active Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "parameters": {
        "workflowId": "ADAPTER_GET_CONTACTS_HUBSPOT_ID",
        "waitForSubWorkflow": true,
        "workflowInputs": {
          "values": [
            {
              "name": "config",
              "value": "={{ { limit: $json.pipeline_limit, filters: [{ propertyName: 'hs_lead_status', operator: 'NOT_IN', value: ['SEQUENCE_COMPLETE', 'CLOSED_WON', 'CLOSED_LOST'] }] } }}"
            }
          ]
        }
      }
    },
    {
      "id": "40c10cf3-0000-0000-0000-000000000000",
      "name": "Build Pipeline Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "jsCode": "const contacts = $input.all();\nconst config = $('Client Config').item.json;\nconst today = new Date();\nconst staleThreshold = config.stale_threshold_days || 14;\n\nconst stale = [], active = [], engaged = [];\n\ncontacts.forEach(c => {\n  const p = c.json;\n  const lastActivity = p.last_activity_date ? new Date(p.last_activity_date) : null;\n  const daysSince = lastActivity\n    ? Math.floor((today - lastActivity) / (1000 * 60 * 60 * 24))\n    : 99;\n\n  const entry = {\n    name: p.full_name || 'Unknown',\n    company: p.company || 'Unknown',\n    title: p.title || '',\n    status: p.lead_status,\n    score: p.icp_score,\n    daysSince,\n    contact_id: p.contact_id\n  };\n\n  if (daysSince >= staleThreshold) stale.push(entry);\n  else if (p.lead_status === 'CONNECTED') engaged.push(entry);\n  else active.push(entry);\n});\n\nconst fmt = (list) => list.slice(0, 8).map((c, i) =>\n  `  ${i+1}. ${c.name} \u2014 ${c.title} @ ${c.company} [${c.status}] (${c.daysSince}d since activity)`\n).join('\\n') || '  None';\n\nconst body = `Good morning ${config.recipient_name},\n\nFriday Pipeline Report \u2014 ${today.toDateString()}\n\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\nENGAGED (replied / connected): ${engaged.length}\n${fmt(engaged)}\n\nACTIVE IN SEQUENCE: ${active.length}\n${fmt(active)}\n\nSTALE (${staleThreshold}+ days no activity): ${stale.length}\n${fmt(stale)}\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\nTotal tracked: ${contacts.length}\nRe-engagement emails will be queued for ${stale.length} stale contacts.\n\nHave a great weekend,\n\u2014 LeadGen System`;\n\nreturn [{\n  json: {\n    to: config.recipient_email,\n    subject: `[LeadGen] Friday Pipeline \u2014 ${engaged.length} engaged, ${stale.length} stale`,\n    body,\n    stale_contacts: stale,\n    stale_count: stale.length,\n    recipient_email: config.recipient_email,\n    recipient_name: config.recipient_name\n  }\n}];"
      }
    },
    {
      "id": "230f232d-0000-0000-0000-000000000000",
      "name": "Send Pipeline Report",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "parameters": {
        "workflowId": "ADAPTER_SEND_EMAIL_GMAIL_ID",
        "waitForSubWorkflow": true,
        "workflowInputs": {
          "values": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body }}"
            }
          ]
        }
      }
    },
    {
      "id": "d473ba9e-0000-0000-0000-000000000000",
      "name": "Any Stale Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.stale_count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "9dd01248-0000-0000-0000-000000000000",
      "name": "Generate Re-Engagement Emails via Claude",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "workflowId": "ADAPTER_GENERATE_CONTENT_CLAUDE_ID",
        "waitForSubWorkflow": true,
        "workflowInputs": {
          "values": [
            {
              "name": "model",
              "value": "claude-haiku-4-5"
            },
            {
              "name": "max_tokens",
              "value": 500
            },
            {
              "name": "system_prompt",
              "value": "You write brief re-engagement emails for B2B sales. Warm, direct, no pressure. Reference that time has passed. Add a fresh insight. 3 sentences max per email."
            },
            {
              "name": "user_prompt",
              "value": "={{ 'Generate re-engagement emails for these stale contacts. Return a JSON array of objects with fields: contact_id, subject, body.\\n\\nContacts:\\n' + JSON.stringify($json.stale_contacts.slice(0, 5)) + '\\n\\nSender: ' + $json.recipient_name + '\\nContext: AI automation consulting for mid-market operations.' }}"
            }
          ]
        }
      }
    },
    {
      "id": "4237815b-0000-0000-0000-000000000000",
      "name": "Parse & Send Re-Engagement Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "jsCode": "// Parse Claude's re-engagement email array and return for sending\nconst raw = $json.generated_content || '[]';\nlet emails = [];\n\ntry {\n  const m = raw.match(/\\[[\\s\\S]*\\]/);\n  if (m) emails = JSON.parse(m[0]);\n} catch(e) {\n  emails = [];\n}\n\nconst recipient = $json.recipient_email || '';\n\nreturn emails.map(e => ({\n  json: {\n    to: recipient, // In production: look up contact email from HubSpot by contact_id\n    subject: e.subject || 'Checking back in',\n    body: e.body || '',\n    contact_id: e.contact_id\n  }\n}));"
      }
    }
  ],
  "connections": {
    "Friday 8AM \u2014 Pipeline Review": {
      "main": [
        [
          {
            "node": "Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Config": {
      "main": [
        [
          {
            "node": "Get Full Active Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Active Pipeline": {
      "main": [
        [
          {
            "node": "Build Pipeline Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pipeline Report": {
      "main": [
        [
          {
            "node": "Send Pipeline Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pipeline Report": {
      "main": [
        [
          {
            "node": "Any Stale Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Stale Leads?": {
      "main": [
        [
          {
            "node": "Generate Re-Engagement Emails via Claude",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Re-Engagement Emails via Claude": {
      "main": [
        [
          {
            "node": "Parse & Send Re-Engagement Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ERROR_HANDLER_WORKFLOW_ID"
  }
}